<div id="support-data" style="width:500px;height:auto;">
  <div class="row-fluid">
    <div class="span6">
      <div class="block">
        <div class="head">
          <h2><%= title %></h2>
        </div>
        <div class="data-fluid">
          <%= form_for tabular, :url => url, :remote => true do |f| %>
            <div class="row-form">
              <div class="span3"><%= f.label :parent_sub %></div>
              <div class="span9"><%= select(:tabular, :parent_id, tabular_options) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :kind %></div>
              <div class="span9"><%= f.select :kind, Tabular::KIND_OPTIONS ,:prompt => PROMPT_OPTION %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :name %></div>
              <div class="span9"><%= f.text_field :name, :placeholder => "Isilah data nama tabular" %></div>
              <div class="span9"><%= display_error(tabular, :name) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :unit %></div>
              <div class="span9"><%= select(:tabular, :unit_id, unit_options) %></div>
              <div class="span9"><%= display_error(tabular, :unit_id) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :nilai %></div>
              <div class="span9"><%= f.text_field :total, :placeholder => "Isilah data nilai tabular" %></div>
              <div class="span9"><%= display_error(tabular, :total) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :data_sources %></div>
              <div class="span9"><%= select(:tabular, :data_source_id, options_data_sources) %></div>
              <div class="span9"><%= display_error(tabular, :data_source_id) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.submit name_button, :class => "btn" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>