<tr data-tt-id="<%= tabular.id %>" data-tt-parent-id="<%= tabular.parent_id %>" data-tt-branch="<%= tabular.kind == "directory" ? "true" : "false" %>">
  <td>
    <span class="<%= tabular.kind %>"><%= tabular.name %></span>
  </td>
</tr>