<div class="content">
  <div class="page-header">
    <div class="icon">
      <span class="ico-layout-7"></span>
    </div>
    <h1>Kelompok Data <small>ADMINISTRASI SISTEM INFORMASI PEMBANGUNAN DAERAH</small></h1>
  </div>
  <%= form_tag admin_tabulars_path, :method => 'get' do %>
    <%= text_field_tag "tabular[search]" %>
    <%= label_tag :pilih_kecamatan %>
    <%= select("tabular", :user_id, @user_options) %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <a id="add-data" href="/admin/tabulars/new" class="btn btn-large btn-block btn-warning" type="button">Tambah data tabular</a>
        <%#= link_to "Import excle", export_admin_tabulars_path, :class => "btn" %>
      </div>
      <div class="block">
        <div class="data-fluid">
          <table cellpadding="0" cellspacing="0" width="100%" class="table">
            <thead>
              <tr>
                <th>
                  No
                </th>
                <th width="25%">
                  Nama
                </th>
                <th width="25%">
                  Nilai
                </th>
                <th width="25%">
                  Satuan
                </th>
                <th width="25%">
                  Sumber Data
                </th>
                <th width="25%">
                  Kecamatan
                </th>
                <th width="25%">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <% @tabulars.each_with_index do |tabular, idx| %>
                <tr>
                  <td>
                    <%= idx + 1 %>
                  </td>
                  <td>
                    <%= tabular.name %>
                  </td>
                  <td>
                    <%= tabular.telephone rescue "-" %>
                  </td>
                  <td>
                    <%= tabular.unit_name rescue "-" %>
                  </td>
                  <td>
                    <%= tabular.data_source_name rescue "-" %>
                  </td>
                  <td>
                    <%= tabular.user_name rescue "-" %>
                  </td>
                  <td>
                    <%= link_to "Edit", edit_admin_tabular_path(tabular), :class => "edit-data", :id => tabular.id %>
                    <%= link_to "Delete", admin_tabular_path(tabular), :method => :delete, :confirm => "Are you sure to delete this?" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate(@tabulars) %>
        </div>
      </div>
    </div>
  </div>
</div>