<div class="content">
  <div class="page-header">
    <div class="icon">
      <span class="ico-layout-7"></span>
    </div>
    <h1>Kelompok Data <small>ADMINISTRASI SISTEM INFORMASI PEMBANGUNAN DAERAH</small></h1>
  </div>
  <div class="span3">
    <h4><%= @tabular.name %></h4>
    <p><strong>Tahun:</strong> <%= @tabular.year %></p>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="block">
        <div class="data-fluid">
          <table cellpadding="0" cellspacing="0" width="100%" class="table">
            <thead>
              <tr>
                <th width="25%">
                  No
                </th>
                <th width="25%">
                  Nama Kecamatan
                </th>
                <th width="25%">
                  Total
                </th>
                <th width="25%">
                  Sumber Data
                </th>
              </tr>
            </thead>
            <tbody>
              <% @user_tabulars.each_with_index do |tabular, idx| %>
                <tr>
                  <td>
                    <%= params[:page].nil? ? idx + 1 : DEFAULT_PER_PAGE * (params[:page].to_i - 1) + idx + 1 %>
                  </td>
                  <td>
                    <%= tabular.name %>
                  </td>
                  <td>
                    <%= tabular.total.to_i %>
                  </td>
                  <td>
                    <%= tabular.data_source_id %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate(@user_tabulars) %>
        </div>
      </div>
    </div>
  </div>
</div>