<div id="support-data" style="width:500px;height:auto;">
  <div class="row-fluid">
    <div class="span6">
      <div class="block">
        <div class="head">
          <h2><%= title %></h2>
        </div>
        <div class="data-fluid">
          <%= form_for master_tabular, :url => url do |f| %>
            <div class="row-form">
              <div class="span3"><%= f.hidden_field :parent_id %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.label :name %></div>
              <div class="span9"><%= f.text_field :name, :placeholder => "Isilah data nama tabular" %></div>
              <div class="span9"><%= display_error(master_tabular, :name) %></div>
            </div>
            <div class="row-form">
              <div class="span3"><%= f.submit :class => "btn" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>