<div class="content">
  <div class="page-header">
    <div class="icon">
      <span class="ico-layout-7"></span>
    </div>
    <h1>Master Tabular <small>ADMINISTRASI SISTEM INFORMASI PEMBANGUNAN DAERAH</small></h1>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <a id="add-data" href="/admin/master_tabulars/new" class="btn btn-large btn-block btn-warning" type="button">Tambah data master tabular</a>
      </div>
      <div class="span3">
        <%= form_tag generate_layout_admin_master_tabulars_path, :method => :post do %>
          <%= label_tag :pilih_tahun %>
          <%= select_year(Date.today, :start_year => 1992, :end_year => 2019) %>
          <%= submit_tag "Generate layout", :class => "btn" %>
        <% end %>
      </div>
      <div class="block">
        <div class="data-fluid">
          <% @master_tabulars.each do |master_tabular|  %>
            <div class="master_tabular">
              <div class="content">
                <%= master_tabular.name %>
              </div>
              <div class="actions">
                <%= link_to "Add", new_admin_master_tabular_path(:parent_id => master_tabular) %> |
                <%= link_to "Destroy", admin_master_tabular_path(master_tabular), :confirm => "Are you sure?", :method => :delete %>
              </div>
              <% master_tabular.descendants.to_depth(1).each do |child| %>
                <div class="content">
                  <%= link_to child.name, admin_master_tabular_path(child), :class => "nested_master_tabulars" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
