<div class="row-fluid">
  <div class="span6">
    <div class="block">
      <div class="head">
        <h2>Edit Password</h2>
      </div>
      <div class="data-fluid">
        <%= form_for @user, :url => save_password_admin_profile_index_path do |f| %>
          <div class="row-form">
            <div class="span3"><%= f.label :password_lama %></div>
            <div class="span9"><%= f.password_field :old_password, :placeholder => "Isilah password lama Anda" %></div>
          </div>
          <div class="row-form">
            <div class="span3"><%= f.label :password_baru %></div>
            <div class="span9"><%= f.password_field :password, :placeholder => "Isilah password baru Anda" %></div>
          </div>
          <div class="row-form">
            <div class="span3"><%= f.label :konfirmasi_password %></div>
            <div class="span9"><%= f.password_field :password_confirmation, :placeholder => "Isilah konfirmasi password Anda" %></div>
          </div>
          <div class="row-form">
            <div class="span3"><%= f.submit "Update", :class => "btn" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
